[Unit]
Description=3 hour live

[Service]
ExecStart=/usr/share/themes/Skibidi/scripts/updater.sh
Restart=always

[Install]
WantedBy=multi-user.target
